* {
  margin: 0px;
}

body {
  background-color: azure;
}

header {
  background-image: linear-gradient(
    to right,
    rgb(48, 241, 241),
    rgb(221, 164, 174)
  );
  padding: 20px;
  text-align: center;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 2rem;
}

.search-header {
  font-family: "Merriweather", serif;
  margin:10px 0px 10px 0;
  font-weight: bold;
}

.fa-sun {
  padding-left: 80px;
}

.fa-cloud {
  padding-right: 80px;
}


.serach-text {

margin-left: 15px;

}

#search-id {
    margin left: 15px;
}