* {
  margin: 0px;
}
/* ------------------------------------------------------------------------------ */

body {
background-color: rgb(199, 158, 158);
}

/* ------------------------------------------------------------------------------ */

header {
  background-image: linear-gradient(
    to right,
    rgb(46, 173, 93),
    rgb(71, 228, 228),
    rgb(46, 173, 93));
  padding: 30px;
  text-align: center;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 2rem;
}
/* ------------------------------------------------------------------------------ */

/* top header  icons */
.fa-sun {
  padding-left: 80px;
  color: rgb(170, 142, 32);
}

.fa-cloud {
  padding-right: 80px;
  color: rgb(0, 145, 255);
}
/* ------------------------------------------------------------------------------ */

/* search box and text  */
.search-header {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  margin: 10px 0px 10px 0;
  font-weight: bold;
  margin-left: 15px;
}
.search-text {
  margin-left: 15px;
}

#search-id {
    font-size: 1rem;
    font-family: "Merriweather", serif;
    padding: 5px;
}

/* ------------------------------------------------------------------------------ */

/* search button  */

.search {
padding: 8px 5px 10px 10px;
    color: white;
    background-color: rgb(10, 76, 76);
}